<div class='container has-background-white'>
  <div class='box'>
    <% if current_user %>
      <div class='has-text-centered mb-5'>
        <a href=<%= "#{new_notice_path}" %> class="button is-link">Criar nova notícia</a>
      </div>
    <% end %>
    <% @notices.reverse.each do |notice| %>
      <div class='card mb-5'>
        <header class='card-header'>
          <p class='card-header-title'>
            <%= notice.title %>
          </p>
        </header>
        <a href="<%="/notices/#{notice.id}"%>" class='has-text-dark'>
          <div class='card-content'>
            <%= notice.description %>
            <div class='has-text-right'>
              <p><%= notice.publish_at.strftime('%d/%m/%Y') %> - <%= notice.publish_at.strftime('%H:%M') %></p>
            </div>
          </div>
        </a>
        <% if current_user %>
          <footer class='card-footer'>
            <a href=<%= "#{edit_notice_path(notice)}" %> class="card-footer-item">Editar</a>
            <div class="card-footer-item"><%= link_to 'Deletar', notice, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          </footer>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
